  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-size: 22px;
  }
  .heading_div
  {
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
    padding: 10px;
    float: none;
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }

  .copy_right_footer
  {
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: rgb(163, 215, 245);
    color: darkviolet;
    width: 100%;
    line-height: 3;
    font-size: 18px;
  }

  canvas
  {
    border: 3px solid  white;
    box-shadow:5px 5px 5px grey;
    border-radius: 20px;
    margin-top: 100px;
  }

  body
  {
    font-family: 'Courgette', cursive;
  }
 